.text-container {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.logo-container {
  margin-right: auto;
  padding-bottom: 16px;

  h1 {
    float: right;

    @media (max-width: 768px) {
      float: none;
      display: flex;
      justify-content: center;
    }
  }
}
